<body background ="3a0T946.jpg" >
<h1 style  = "font-size: 70px; text-align: center" > <em>The Beauty of Nature</em></h1>
<hr>
<p style = "text-align: center; font-size: 45px; color: red"> I <b>arise</b> <sup>today</sup></p>
 <p style = "text-align: center; font-size: 45px; color: Orange"> Through the <b>strenght</b> of the <sup>Heaven</sup>:</p>
 <p style = "text-align: center; font-size: 45px; color: Yellow"> <b>Light</b> of the <sup>sun</sup></p>
  <p style = "text-align: center; font-size: 45px; color: Green"> <b>Radiance</b> of the <sup>moon</sup></p>
  <p style = "text-align: center; font-size: 45px; color: Blue"> <b>Splendour</b> of <sup>fire</sup></p>
  <p style = "text-align: center; font-size: 45px; color: Indigo"> <b>Speed</b> of <sup>Lightning</sup></p>
  <p style = "text-align: center; font-size: 45px; color: Violet"><b>Swiftness</b> of <sup>wind</sup>.</p>
  <p style = "text-align: right; color: DarkGrey"><cite> The Prayer of Saint Patrick</cite> by St. Patrick  <sup> 9 feb 2018 </sup></p> 


<%= link_to 'About', about_path %>